@charset 'UTF-8';
/* Slider */


/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 5%;

    display: block;
    z-index: 1;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    
    border: none;
    outline: none;
    background:transparent;
    display: block;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: red;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    display: block;
    color:var(--gold);
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;

    opacity: .75;
    color: var(--red);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    z-index: 1;
}

.slick-prev
{
    display: block;
    right: 125px;
}
[dir='rtl'] .slick-prev
{
    right: 105px;

    display: block;
    right: 0;
}
.slick-prev:before
{
    content: '←';
    display: block;
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
    display: block;
}

.slick-next
{ display: block;
    right: 90px;
}
/*[dir='rtl'] .slick-next
{ display: block;
    right: auto;
    left: 0;
}*/
.slick-next:before
{ display: block;
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
    display: block;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 50px;
}

.slick-dots
{
    position: absolute;
    bottom: -60px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

   width: 1rem;
    height: 2px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;
background: blue;
    width: 1rem;
    height: 2px;
    padding: 5px;

    cursor: pointer;

    border: 0;
    outline: none;
    background: transparent;
    color:var(--darkblue);
    
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;

}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
    color:var(--darkblue);

}
.slick-dots li button:before
{
    font-family: 'slick';
   /* font-size: 40px;
    line-height: 20px;*/

    position: absolute;
    top: 0;
    left: 0;

    width: 1.4rem;
    height:1.4rem;
    border-radius: 100%;
    background: var(--blue);
    content: '';
    text-align: center;

    opacity: .25;
    color: black;
    color:var(--darkblue);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: red;
    width:1.4rem;
}
